html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

h1 {
	text-align: center;
}

header{
	height: 20%;
	width: 100%;
}
.color-container{
	height: 80%;
	width: 100%;
}
.colorbar {
	width: 100%;
	height: 5%;
}