/* yeah, this css is a mess. WIP. */


html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

h1, p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

h1 {
	text-align: left;
	padding: 1rem 0 0 1rem;
}

.color-option{ 
	width: 3.7%;
	height: 4rem;
	float: left;
}

header{
	width: 100%;
	z-index: 2;
	position: relative;
	background: rgba(255, 255, 255, .9);
}

.description {
	z-index: 3;
	position: relative;
}

.description p {
	background: rgba(255, 255, 255, 0.8);
}

.color-container{
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
}
.colorpicker {
	width: 100%;
	position: relative;
	z-index: 3;
	background: white;
	//padding: .2rem;
}

#add-color {
	float: right;
	padding-right: 1rem;
	display: inline-block;
	height: 100%;
}
.colorbar {
	width: 2.5%;
	height: 100%;
	float: left;
}
button {
	margin-left: 1rem;
}
p {
	padding-left: 1rem;
}

h1, form.orientationPicker {
	color: black;
}

a {
	text-decoration: none;
	//border-bottom: 1px solid black;
	color: #ff0033;
}
a:hover {
	color: blue;
}
a:active{
	color: yellow;
}
input {
	margin-left: 1rem;
	margin-top: 1rem;
}